<div class="form-inline">
  <div class="form-group mb-2">
    <label clas="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filtroLista">
  </div>
</div>

<h3>Filtro: {{filtroLista}}</h3>

<table class="table table-bordered table-striped">
  <thead class="thead-light">
    <tr class="text-center">
      <th class="text-center">
        <button class="btn btn-outline-primary btn-sm" (click)="alternarImagem()" >
          <span class="fa {{mostrarImagem ? 'fa-eye-slash' : 'fa-eye'}}"></span>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td class="text-center">
        <img *ngIf="mostrarImagem && evento.imagemURL"
        src="http://localhost:5000/img/{{evento.imagemURL}}"
        alt="{{evento.tema}}"
        [style.width.px]="imagemLargura"
        [style.margin.px]="imagemMargem" >
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>
        <div *ngIf = "!evento.lotes.length">
          Não informado
        </div>
        <div *ngIf = "evento.lotes.length">
          {{evento.lotes[0].nome | uppercase}}
        </div>
      </td>
      <td class="text-center">
        <div class="btn-group">
          <button class="btn btn-sm btn-success btn-sm" tooltip="Editar" (click)="openModal(template)">
            <span class="fa fa-edit"></span>
          </button>
          <button class="btn btn-sm btn-danger btn-sm" tooltip="Excluir">
            <span class="fa fa-eraser"></span>
          </button>
        </div>
      </td>
    </tr>
  </tbody>

  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum evento econtrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
