<div class="form-inline">
  <div class="form-group mb-2">
    <label clas="mr-2">Filtro:</label> 
    <input type="text" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filtroLista">
  </div>
</div>

<h3>Filtro: {{filtroLista}}</h3>

<table class="table table-bordered table-striped">
  <thead class="thead-light">
    <tr class="text-center">
      <th class="text-center">
        <button class="btn btn-outline-primary btn-sm" (click)="alternarImagem()" >
          <span class="fa fa-eye-slash" *ngIf="mostrarImagem"></span>
          <span class="fa fa-eye" *ngIf="!mostrarImagem"></span>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td class="text-center">
        <img *ngIf="mostrarImagem && evento.imagemUrl"
        src="{{evento.imagemUrl}}" 
        alt="{{evento.tema}}" 
        [style.width.px]="imagemLargura" 
        [style.margin.px]="imagemMargem" >
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote | uppercase}}</td>
      <td class="text-center">
        <button class="btn btn-success btn-sm mr-2">
          <span class="fa fa-edit"></span>
        </button>
        <button class="btn btn-danger btn-sm mr-2">
          <span class="fa fa-trash-alt"></span>
        </button>
      </td>
    </tr>
  </tbody>

  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum evento econtrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>